.box {
    padding: 5px;
    padding-bottom: 10px;    
    max-height: 65vh;
    overflow-y: scroll;
    display: grid;  
    justify-content: center;   
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.no-ideas{
    color: #40514E;
    margin-top: 50px;
    text-align: center;    
}

.select-order {
    padding: 10px;
    margin-top: 10px;
}

label {
    color: #40514E;
} 

select {
    background-color: #30E3CA;
    border: 0px solid;
    border-radius: 5px;
    padding: 2px;
    color: white;
    font-size: 15px;
}

@media (min-width: 680px) {
    .box {
        max-height: 80vh;
        display: grid; 
        grid-template-columns: auto auto;  
        column-gap: 100px;            
    }
}