.header {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #11999E;
}

.lobster {
   font-family: "Lobster", sans-serif;  
   font-size: 40px;   
   color: white;
}